@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --DarkBlue: #002B5D;
    --LightBlue: #76C5FF;
    --MediumBlue: #094B98;
}

body {
    font-family: "Poppins", sans-serif;
}

#neon_particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
}

.custom-button {
    background-color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--DarkBlue);
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.custom-button:hover {
    background-color: rgb(250, 250, 250);
}

.nav-link {
    color: var(--DarkBlue) !important;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.nav-item {
    margin: 0px 1vw;
}

.nav-link:hover {
    font-weight: 700;
}

.active {
    font-weight: 700 !important;
}

.section-wrap {
    width: 100%;
    height: auto;
    margin: 50px 0px;
    padding: 10px 80px;
}

.intro-text {
    font-size: 35px;
    color: var(--MediumBlue);
}

.intro-text .bold-text {
    color: var(--DarkBlue);
    font-weight: bold;
    text-shadow: 2px 2px 3px var(--LightBlue);
}

.image-one {
    width: 100%;
    height: auto;
    min-width: 340px;
}

.value-wrap {
    position: relative;
    margin: 100px auto 50px auto;
    background-color: white;
    padding: 10px 50px;
    border-radius: 8px;
    z-index: 3;
}

.value-group {
    background-color: #EBF9FF;
    margin: 10px;
    border-radius: 8px;
    padding: 5px 10px;
    color: var(--DarkBlue);
    font-size: 14px;
    min-width: 150px;
}

hr.colored {
    width: 15vw;
    min-width: 180px;
    border: 0;
    border-radius: 3px;
    height: 7px;
    /* in order to override TWBS stylesheet */
    background: -moz-linear-gradient(left, var(--LightBlue) 50%, #EBF9FF 50%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(left, var(--LightBlue) 50%, #EBF9FF 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, var(--LightBlue) 50%, #EBF9FF 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, var(--LightBlue) 50%, #EBF9FF 50%);
    /* IE10+ */
    background: linear-gradient(to right, var(--LightBlue) 50%, #EBF9FF 50%);
    /* W3C */
}


/* Custom card */

.custom-card-wrap {
    width: 70%;
    margin: 0px auto 120px auto;
    display: grid;
    grid-template-areas: 'titleGroup cardImage' 'cardDescription cardImage';
    grid-template-rows: 120px auto;
}

.custom-card-wrap-two {
    width: 70%;
    margin: 0px auto 120px auto;
    display: grid;
    grid-template-areas: 'cardImage titleGroup' 'cardImage cardDescription';
    grid-template-rows: 120px auto;
}

.custom-card-title-group {
    grid-area: titleGroup;
}

.custom-card-number {
    width: 90px;
}

.custom-card-title {
    transform: translate(60px, -110px);
    font-size: 20px;
    font-weight: 600;
}

.custom-card-image-wrap {
    grid-area: cardImage;
    text-align: right;
}

.custom-card-image-left {
    float: left;
}

.custom-card-description-wrap {
    grid-area: cardDescription;
}

.custom-card-description {
    transform: translate(60px, 10px);
    width: 400px;
}


/* Custom card End */

@media only screen and (max-width: 1110px) {
    /* Custom card */
    .custom-card-wrap {
        grid-template-areas: 'titleGroup' 'cardImage' 'cardDescription';
    }
    .custom-card-wrap-two {
        grid-template-areas: 'titleGroup' 'cardImage' 'cardDescription';
    }
    .custom-card-image-left {
        float: right;
    }
    /* Custom card End */
}

@media only screen and (max-width: 600px) {
    .section-wrap {
        margin-top: 10px;
        padding: 10px 20px;
    }
    .intro-text {
        font-size: 5.3vw;
    }
    .intro-text .bold-text {
        text-shadow: none;
    }
    .value-wrap {
        width: 90%;
    }
    .custom-button {
        font-size: 14px;
    }
    .image-one {
        margin-top: 15px;
    }
    /* Custom card */
    .custom-card-wrap {
        width: 80%;
        grid-template-areas: 'titleGroup' 'cardImage' 'cardDescription';
    }
    .custom-card-wrap-two {
        width: 80%;
        grid-template-areas: 'titleGroup' 'cardImage' 'cardDescription';
    }
    .custom-card-number {
        width: 50px;
    }
    .custom-card-title {
        transform: translate(40px, -70px);
        font-size: 18px;
        font-weight: 600;
        width: 170px;
    }
    .custom-card-description {
        transform: translate(0px, 0px);
        width: 100%;
        font-size: 14px;
        margin-top: 40px;
    }
    /* Custom card End */
}

@media (max-width:2000px) and (min-width:1700px) {
    .nav-item {
        margin: 0px 2vw;
    }
    .hero-text {
        margin-left: 100px;
        margin-top: 100px;
    }
    .intro-text {
        font-size: 46px;
    }
}

@media (max-width:1700px) and (min-width:1400px) {
    .hero-text {
        margin-left: 100px;
        margin-top: 70px;
    }
    .intro-text {
        font-size: 38px;
    }
}


/* New style*/

.dot-img1 {
    position: absolute;
    z-index: 0;
    top: 80px;
    left: -40px;
    transform: rotate(90deg);
}

.dot-img2 {
    position: absolute;
    z-index: 0;
    top: 70px;
    left: 250px;
}

.dot-img3 {
    position: absolute;
    z-index: 0;
    top: 70px;
    right: 0;
}

.dot-img4 {
    position: absolute;
    z-index: 0;
    top: 170px;
    right: 250px;
}

.dot-img5 {
    position: absolute;
    z-index: 0;
    top: 420px;
    right: -30px;
    transform: rotate(90deg);
}

.dot-img6 {
    position: absolute;
    z-index: 0;
    top: 1200px;
    left: -50px;
    transform: rotate(90deg);
}

.dot-img7 {
    position: absolute;
    z-index: 0;
    left: 5px;
    top: 6px;
    z-index: 2;
    transform: rotate();
    overflow: hidden;
    opacity: 0.5;
}

.tokenomics-main-wrapper {
    display: flex;
    flex-flow: wrap;
}

.tokenmics-card {
    border-radius: 30px;
    text-align: left;
    z-index: 3;
    display: inline;
    width: 50%;
    margin-left: 100px;
    padding: 0% 3% 0% 2%;
}

.shadow-img1 {
    position: absolute;
    left: 270px;
    top: -20px;
    z-index: 0;
}

.shadow-img2 {
    position: absolute;
    left: -100px;
    top: 150px;
    z-index: 0;
}

.bullet-img {
    transform: rotate(-20deg);
    width: 25px;
    height: 25px;
}

.token-round {
    right: 0;
    z-index: 1;
    left: -200px;
}

@media (max-width:640px) {
    .dot-img3 {
        display: none;
    }
    .dot-img1 {
        display: none;
    }
    .dot-img2 {
        display: none;
    }
}

@media (max-width:1124px) {
    .token-round {
        display: none;
    }
    .shadow-img1 {
        display: none;
    }
    .shadow-img2 {
        display: none;
    }
    .tokenmics-card {
        width: 100%;
        margin: 0px;
    }
}

@media (min-width:1440px) {
    .dot-img2 {
        left: 400px;
    }
    .dot-img3 {
        right: 0;
    }
    .dot-img4 {
        right: 400px;
    }
}